@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  background-color: #0F1626;
}

/* LAYOUT */
header {
  position: relative;
  height: 35vh;
  background-color: #163C64;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

main {
  height: 65vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 0 5rem;
}

.left {
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right {
  max-width: 50rem;
  font-size: 2rem;
}

/* ELEMENTS STYLE */
h1 {
  font-size: 6rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.animal {
  background: #00A5C4;
  color: #fff;
  font-size: 8rem;
  width: 80rem;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50% 50% 0 0;
}

.between {
  font-size: 1.4rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.again {
  position: absolute;
  top: 2rem;
  left: 2rem;
  background-color: #00A5C4;
  color: #fff;
  border-radius: 1rem;
  font-size: 2rem;
  padding: 1rem 2rem;
  cursor: pointer;
}

.again:hover {
  background-color: #1C8BBF;
}

.guess {
  background: none;
  border: 2px solid #163C64;
  font-family: inherit;
  color: inherit;
  font-size: 5rem;
  padding: 1rem;
  width: 25rem;
  text-align: center;
  display: block;
  margin-bottom: 2rem;
  border-radius: 1rem;
}

.check {
  background-color: #00A5C4;
  color: #fff;
  border-radius: 1rem;
  font-size: 2rem;
  padding: 1rem 2rem;
  cursor: pointer;
}

.check:hover {
  background-color: #1C8BBF;
}

.message {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

.label-score {
  font-size: 2.4rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.label-score span {
  margin-left: 1rem;
}

.label-highscore {
  font-size: 2.4rem;
  display: flex;
  align-items: center;
}

.label-highscore span {
  margin-left: 1rem;
}

@media screen and (max-width: 768px) {
  header {
    height: 25vh;
  }

  main {
    height: 75vh;
